body {
	background: #DAE8F5;
}

form {
	background: white;	
	box-shadow: 0 0 0 1px rgb(34 36 38 / 22%) inset, 0 0 0 0 transparent;
	padding: 1em 1.5em;
}

.ui.divided.list > .item {
	background: white;
	padding: 14px;
	border-top: 0.8px solid #1b1c1d;
}

.graphic {
	display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 1.5rem;
}

.ui.hidden.divider {
	margin: 0.2rem !important;
}

h1.ui.header {
	margin-top: 0.6rem;
}

.welcome {
	margin-top: 0.6rem !important;
	text-align: center;
}

.voted {
	background: #d6f7d5 !important;
}

.total {
	background: #e5d5f7 !important;
}

.pub-date {
	display: inline-block;
	float: right;
	box-shadow: 0 0 0 1px rgb(34 36 38 / 22%) inset, 0 0 0 0 transparent;
	padding: 7px;
	background-color: rgba(0,0,0,.05);
}